annotated-types
anyio
APScheduler
async-timeout
blinker
cachetools
certifi
charset-normalizer
click
dataclasses
exceptiongroup
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
gevent
google-auth
google-genai
greenlet
gunicorn
h11
httpcore
httpx
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python-headless
packaging
pillow
psutil
python-dotenv
torch
tqdm
pyasn1
pyasn1-modules
pydantic
pydantic-core
redis
requests
rsa
SQLAlchemy
tenacity
typing-inspection
typing-extensions
tzlocal
urllib3
websockets
Werkzeug
zipp
zope.event
zope.interface
